header {
  background-color: #066efd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

body {
  margin: 0;
}
h2 {
  color: blueviolet;
  p {
    background-color: lightgreen;
  }
}

.centro img {
  width: 400px;
  height: 300px;
}

main {
  padding: 1em;
  background-color: cyan;
  height: 100%;
}
